#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.animals ul{
  list-style-type: none;
  padding: 0;
  
}

.animals li{

  border: 2px solid white;
  margin-bottom: 10px;
  
}

.animals, h2, h3 {
  color: white;
}

.animalImg{
  width: 50%;
  height: 50%;
}
header{
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  width: 100%;
  margin: 0; 
  position: fixed; 
  top: 0; 
  left: 0; 
  justify-content: space-between;
  height: 4rem;
}

.headerButton{
background: greenyellow;

}

main {

  margin-top: 4rem;
}

button{

  cursor: pointer;
}


button:disabled{

  cursor: not-allowed;
}


